/*=================================global================================*/
:root{
    --dark-blue: #363f5f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5;
    font-family: 'poppins',sans-serif; 
}

#container {
    width: min(90vw, 800px);
    margin: auto;
}

h2 {
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}
/*=================================Header================================*/

#logo {
    background-color: #284021;
    text-align: center;
    color: white;
    height: 10rem;
    padding-top: 2rem;
    font-weight: 100;
    font-family: 'poppins';
}

/*=================================balance================================*/
#balance {
    margin-top: -8rem;
    background-color: transparent;
}

#balance h2 {
    background-color: #284021;
    color: white;
}

/*=================================cards================================*/
.card {
    background-color: white;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
    color: var(--dark-blue);
}

.card h3 {
    font-weight: normal;
    font-size: 1rem;
}

.card p {
    font-size: 2rem;
    line-height: 3rem;
}

.card.total, .card.total h3, .card.total p {
    background-color: #388A1D;
    color: white;
}

footer {
    text-align: center;
    margin-top: 1rem;

}
